/* import "fonts/icomoon/style.css"

    import "css/bootstrap.min.css"
    import "css/jquery-ui.css"
    import "css/owl.carousel.min.css"
    import "css/owl.theme.default.min.css"
    import "css/owl.theme.default.min.css"

    import "css/jquery.fancybox.min.css"

    import "css/bootstrap-datepicker.css"

    import "fonts/flaticon/font/flaticon.css"

    import "css/aos.css"

    import "css/style.css" */

/* import "./style2.css" */

/* @import './css*.css'; */

.site-navbar-target {
  background-color: #333333;
}

.slide-1 {
  background-image: url('images/hero_1.jpg');
  height: 100vh;
}

.container {
  padding-top: 0px;
}

/* ul#user li {
  display: inline;
} */

.logOut {
  text-decoration: underline;
  cursor: pointer;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.popup_inner {
  position: absolute;
  left: 37%;
  right: 37%;
  top: 25%;
  bottom: 10%;
  margin: auto;
  background: #ecfdff;
  border-radius: 20px;
  z-index: 99;
}

.popup_inner h4 {
  font-size: 18px;
  font-weight: 500;
  color: #222222;
  text-transform: capitalize;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.popup_inner ul {
  margin-top: 6%;
}

.popup_inner ul li {
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 15px;
}

.popup_inner ul li p {
  color: #222222;
}

.popup_inner ul li span {
  color: #777777;
}

.close {
  font-size: 30px;
  margin-right: 45%;
  margin-top: 2%;
}

.logo {
  cursor: pointer;
}

.bid {
  width: 110px;
  border-radius: 51px;
  padding: 11px 10px;
  margin-left: 12%;
  color: black;
  font-size: 19px;
}

.bid_purple {
  margin-right: 19%;
  cursor: pointer;
}

.message_bid_it {
  text-align: center;
  color: #ff3368;
  font-size: 19px;
  margin-top: 5%;
}

.message-auction-red {
  text-align: center;
  color: #ff3368;
  font-size: 19px;
}

.actions {
  cursor: pointer;
}

.update {
  color: rgb(207, 207, 23);
}

.messages {
  color: rgb(14, 14, 167);
}

.delete {
  color: rgb(219, 22, 22);
}
